" Custom keymap.
source ~/.config/nvim/mappings.vim

" Switch between 'splits'.
noremap <A-J> <C-w>h
noremap <A-K> <C-w>j
noremap <A-I> <C-w>k
noremap <A-L> <C-w>l
inoremap <A-J> <C-o><C-w>h
inoremap <A-K> <C-o><C-w>j
inoremap <A-I> <C-o><C-w>k
inoremap <A-L> <C-o><C-w>l

" Trims trailing whitespace, so that { and } motions work properly.
" todo: find a better (ideally automatic) fix for trailing whitespace.
noremap <Esc> :w<CR>

" Fix `cc` (change whole line) so it correctly autoindents, like in Vim.
nnoremap ww ddko

set scrolloff=5
set incsearch
set ignorecase

" Use IntelliJ's clipboard, and automatically share with the system clipboard.
set clipboard+=ideaput
set clipboard+=unnamedplus

" Turn off `ding` sound effects for movement keys.
set visualbell

" Smarter line joining; handles things like comments, etc.
set ideajoin



" This is a workaround for the following issue: The "Run" action causes focus
" to be *nowhere*, which causes the "FocusEditor" action to just not work.
" (This means you can't hit Escape to re-focus the editor after you Run.)
"
" To fix it, put this in `~/.config/JetBrains/CLionYYYY.N/options/macros.xml`,
" and bind one of them to Escape. (Don't unbind other meanings of Escape.)
"
"<application>
"  <component name="ActionMacroManager">
"    <macro name="Select editor (via navbar) -- only works in zen mode">
"      <action id="ShowNavBar" />
"      <action id="NavBar-cancel" />
"    </macro>
"    <macro name="Select editor (via switcher) -- should always work">
"      <action id="SwitcherForward" />
"      <action id="SwitcherBackward" />
"      <shortuct text="ENTER" />
"    </macro>
"  </component>
"</application>
