" Mappings
inoremap jk <Esc>
inoremap jK <Esc>
inoremap Jk <Esc>
inoremap JK <Esc>
noremap <CR> gg
noremap <C-y> 5<C-y>
noremap <C-e> 5<C-e>
noremap <Home> ^
noremap <Space> <Nop>
nnoremap gp `[v`]

" Settings
set scrolloff=5
set ignorecase " I really don't like this, but `noremap / /\c` doesn't work.
set clipboard+=unnamedplus " Yank/paste to/from system clipboard always.
                           " This includes `y', `d', `c', `p', etc.
set visualbell " Don't make bell noises for things like <C-c>, h at beginning
               " of line, k at beginning of file, etc.
