# Emacs-style keybinds.
set editing-mode emacs

# Show suggestions after pressing tab once, instead of twice.
set show-all-if-ambiguous on

# Don't show hidden files/dirs as suggestions when I
# press tab with an empty prefix.
set match-hidden-files off

# Colorize directory names in tab completion lists.
set colored-stats on

# Colorize the common prefix of entries in tab completion lists.
set colored-completion-prefix on

# Bind meta-p to ctrl-p, enter; ie run previous command.
"\ep": "\C-p\n"

# Bind meta-o to exit shell if last command successful.
# Gets queued if pressed while a command is running.
# Can be cancelled with backspace.
"\eo": "if [ $? -eq 0 ]; then exit; else false; fi\n"

# C-t = search forward. This is bound to C-s by default, but most terminals
# use C-s for pausing screen output, so readline will never receive the "C-s".
# See https://superuser.com/a/610990
"\C-t": forward-search-history
