# Emacs-style keybinds.
set editing-mode emacs

# Bind meta-p to ctrl-p, enter; ie run previous command.
"\ep": "\C-p\n"

# Bind meta-o to exit shell if last command successful.
# Gets queued if pressed while a command is running.
"\eo": "if [ $? == 0 ]; then exit; fi\n"
