# Emacs-style keybinds.
set editing-mode emacs

# Show suggestions after pressing tab once, instead of twice.
set show-all-if-ambiguous on

# Don't show hidden files/dirs as suggestions when I
# press tab with an empty prefix.
set match-hidden-files off

# Colorize directory names in tab completion lists.
set colored-stats on

# Colorize the common prefix of entries in tab completion lists.
set colored-completion-prefix on

# Bind meta-i to ctrl-p, enter; i.e. run previous command.
"\ei": "\C-p\n"

# Bind meta-p to exit shell if last command successful.
# Gets queued if pressed while a command is running.
# Can be cancelled with backspace.
#"\ep": "if [ $? -eq 0 ]; then exit; else false; fi\n"
