#!/bin/sh

# Work around a bug in xkb; enable autorepeat for alphabetic keys.
# This gets reset when I unplug and replug my usb keyboard though.
if command -v xset >/dev/null; then
    for scancode in $(seq 24 33) $(seq 38 47) $(seq 52 61) $(seq 152 181); do
        xset r $scancode
    done
fi

# Disable numlock, to turn off the little blue light on my keyboard.
if command -v numlockx >/dev/null; then
    numlockx off
fi

# Start Redshift.
if command -v redshift >/dev/null && ! pgrep -x redshift >/dev/null; then
    redshift &
fi

# Set desktop wallpaper.
if [[ -f ~/.fehbg ]]; then
    ~/.fehbg &
fi

if [[ -f ~/.work-configs/xprofile ]]; then
    source ~/.work-configs/xprofile
fi
