#!/bin/bash

# Work around a bug in xkb; enable autorepeat for alphabetic keys.
# This gets reset when I unplug and replug my usb keyboard though.
if command -v xset >/dev/null; then
    for scancode in $(seq 24 33) $(seq 38 47) $(seq 52 61) $(seq 152 181); do
        xset r $scancode
    done
fi

# Disable numlock, to turn off the little blue light on my keyboard.
if command -v numlockx >/dev/null; then
    numlockx off
fi

# Work laptop.
if [[ $(hostname) == khollbach ]]; then
    # Work-from-home setup:
    if [[ $(xrandr | grep '\bconnected\b' | cut -d' ' -f1 | sort) =~ ^DP-2.eDP-1$ ]]; then
        # Turn off laptop screen.
        xrandr --output eDP-1 --off

        # Split my huge monitor -- 5120x1440 (32:9) -- into three smaller ones:
        # * 1280x1440 (8:9)
        # * 2560x1440 (16:9)
        # * 1280x1440 (8:9)
        # These virtual monitors are laid out left-to-right in a row, perfectly
        # filling the entire physical monitor.
        #
        # Note that the original monitor's real-world physical size is 1200mm x
        # 340mm, and this gets split proportionally among the virtual monitors
        # as well. (Not sure why xrandr needs to know this info, but it can't
        # hurt to get it right.)
        xrandr --setmonitor Virtual-1 1280/300x1440/340+0+0 DP-2
        xrandr --setmonitor Virtual-2 2560/600x1440/340+1280+0 none
        xrandr --setmonitor Virtual-3 1280/300x1440/340+3840+0 none
    fi
fi
