input {
    touchpad {
        // Enable tap-to-click.
        tap
    }
}

output "eDP-1" {
    // Sort laptop screen to the left of any external monitor(s).
    position x=0 y=0

    layout {
        // Use the full width, since it's a small screen.
        default-column-width { proportion 1.0; }
    }
}

layout {
    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }
}

// Ask clients to omit their client-side decorations if possible.
prefer-no-csd

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Downloads/Screenshots/Screenshot %Y-%m-%d %H:%M:%S.png"

binds {
    Super+Escape { spawn-sh "swaylock -c 202020"; }
    Super+Alt+P  { power-off-monitors; }
    Super+Alt+E  { quit; }

    Super+E         { spawn "fuzzel"; }
    Super+Space     { spawn-sh "alacritty --working-directory $(niri-alacritty-recent-cwd)"; }
    Super+Semicolon { spawn "google-chrome"; }

    Super+Q repeat=false { close-window; }
    Super+W { toggle-column-tabbed-display; }
    Super+A { toggle-overview; }

    Super+V     { toggle-window-floating; }
    Super+Alt+V { switch-focus-between-floating-and-tiling; }

    Super+F     { maximize-window-to-edges; }
    Super+Alt+F { toggle-windowed-fullscreen; }
    Super+R     { switch-preset-column-width; }

    Super+Minus     { set-column-width "-10%"; }
    Super+Equal     { set-column-width "+10%"; }
    Super+Alt+Minus { set-window-height "-10%"; }
    Super+Alt+Equal { set-window-height "+10%"; }

    // IJKL 'arrow keys' -- not HJKL vi keys
    Super+I     { focus-window-up; }
    Super+J     { focus-column-left; }
    Super+K     { focus-window-down; }
    Super+L     { focus-column-right; }
    Super+Alt+I { move-window-up; }
    Super+Alt+J { move-column-left; }
    Super+Alt+K { move-window-down; }
    Super+Alt+L { move-column-right; }

    Super+Home     { focus-column-first; }
    Super+End      { focus-column-last; }
    Super+Alt+Home { move-column-to-first; }
    Super+Alt+End  { move-column-to-last; }

    Super+S       { focus-workspace-up; }
    Super+D       { focus-workspace-down; }
    Super+Alt+S   { move-column-to-workspace-up; }
    Super+Alt+D   { move-column-to-workspace-down; }
    Super+Shift+S { move-workspace-up; }
    Super+Shift+D { move-workspace-down; }

    // Move the currently focused window into or out of a column.
    Super+U { consume-or-expel-window-left; }
    Super+O { consume-or-expel-window-right; }

    Super+Comma        { focus-monitor-left; }
    Super+Period       { focus-monitor-right; }
    Super+Alt+Comma    { move-column-to-monitor-left; }
    Super+Alt+Period   { move-column-to-monitor-right; }
    Super+Shift+Comma  { move-workspace-to-monitor-left; }
    Super+Shift+Period { move-workspace-to-monitor-right; }

    Print      { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print  { screenshot-window; }

    // Example volume keys mappings for PipeWire & WirePlumber.
    // The allow-when-locked=true property makes them work even when the session is locked.
    // Using spawn-sh allows to pass multiple arguments together with the command.
    // "-l 1.0" limits the volume to 100%.
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // Example media keys mapping using playerctl.
    // This will work with any MPRIS-enabled media player.
    XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }

    // Example brightness key mappings for brightnessctl.
    // You can use regular spawn with multiple arguments too (to avoid going through "sh"),
    // but you need to manually put each argument in separate "" quotes.
    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    Super+Alt+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}

/*

small thing:
[ ] sometimes I end up in this situation after closing the right-most window:
    +-------+
XXX |XXX ...|
XXX |XXX ...|
    +-------+
Where the box is the screen, the Xs are the open windows, and the .s are the recently closed window.
It would be nice if it automatically snapped back to fit the screen properly! I was surprised when it didn't.
-- Update: sometimes it does, and sometimes it doesn't. I'm not sure what the preconditions are for this...
-- looks like this has come up before:
    https://github.com/niri-wm/niri/discussions/2815
    https://github.com/niri-wm/niri/discussions/1642
    https://www.reddit.com/r/niri/comments/1qyon0r
    (and possibly more...)

[ ] Disable mouse warping when switching monitors:
-- looks like there's a PR up for this! see:
        https://github.com/niri-wm/niri/discussions/2704
        https://github.com/niri-wm/niri/pull/2712
-- note: I'm guessing this setting should be _on_ by default and disabled by something like 'warp-mouse-to-output'
    to line up with:
        https://github.com/niri-wm/niri/wiki/Configuration:-Input#warp-mouse-to-focus

*/
